<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.tayo.dao.A_alllistDAO">

	<select id="A_alllist" resultType="kr.co.tayo.dto.A_alllistDTO">
		select s.se_secret,t.num,t.title,t.cnt,t.to_date,t.mem_id from total t left outer join secret s on t.num = s.num ORDER BY t.num DESC limit 10 offset #{param1}
	</select>

	<select id="totalCount" resultType="int">
		SELECT COUNT(num) FROM total 
	</select>

	<select id="A_alllistsearch" resultType="kr.co.tayo.dto.A_alllistDTO"
		parameterType="hashmap">
		select s.se_secret,t.num,t.title,t.cnt,t.to_date,t.mem_id from total t left outer join secret s on t.num = s.num where (title like concat('%',#{title},'%') or t.mem_id like concat('%',#{mem_id},'%')) ORDER BY t.num DESC
	</select>  
	
	<delete id="A_alllistdel"> 
		DELETE FROM total where num=#{param1}
	</delete>
	  <select id="totalCount2" resultType="int" parameterType="hashmap">
       SELECT COUNT(num) FROM total where title like concat('%', #{title}, '%') ;
   </select>
   <select id="totalCount3" resultType="int" parameterType="hashmap">
      SELECT COUNT(num) FROM total where (mem_id like concat('%', #{mem_id}, '%'));
   </select> 

</mapper>