<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tayo.dao.AdminQnaDAO">

<select id="AdminQnalist" resultType="kr.co.tayo.dto.AdminQnaDTO">
		select s.se_secret,t.num,t.title,t.cnt,t.to_date,t.mem_id from total t left outer join secret s on t.num = s.num where bo_num =2 ORDER BY num DESC limit 10 offset #{param1} 
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(num) FROM total where bo_num=2
	</select>
	
	<select id="AdminQnasearch" resultType="kr.co.tayo.dto.AdminQnaDTO"
		parameterType="hashmap">
      select s.se_secret,t.num,t.title,t.cnt,t.to_date,t.mem_id from total t left outer join secret s on t.num = s.num where bo_num=2 and (title like concat('%',#{title},'%') or t.mem_id like concat('%',#{mem_id},'%')) ORDER BY t.num DESC
	</select>
	
	<delete id="AdminQnaChkDel"> 
		DELETE FROM total where num=#{param1}
	</delete>
	
	<select id="AdminQnaDetail" resultType="kr.co.tayo.dto.AdminQnaDTO"
		parameterType="String">
		SELECT * FROM total WHERE num=#{num}
	</select>
	
	<delete id="AdminQnaDelete">
		DELETE FROM total where num=#{param1}
	</delete> 
	
	<select id="totalCount2" resultType="int" parameterType="hashmap">
		 SELECT COUNT(num) FROM total where title like concat('%', #{title}, '%') and bo_num = 2;
	</select>
	<select id="totalCount3" resultType="int" parameterType="hashmap">
		SELECT COUNT(num) FROM total where (mem_id like concat('%', #{mem_id}, '%')) and bo_num = 2;
</select> 

</mapper>